.Grid-facil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 20px;
}

.text {
    text-align: center;
    color: var(--cor-primaria);

}

.text>p {
    font-weight: bold;
    font-size: 19px;
}

.text>button {
    width: 100px;
    height: 40px;
    border: 0 none;
    transition: 0.9s;
    border-radius: 10px;
}

.text>button:hover {
    background: var(--cor-primaria);
    color: var(--cor-texto-claro)
}